/nimcache/
*.log
sciter
sciter.html
test

## ============
## Binary files
## ============

## Object files
###############
*.elf
*.ko
*.o
*.obj

## Static libraries
###################
*.a
*.la
*.lib
*.lo

## Shared objects
#################
*.dll
*.dylib
*.so
*.so.*

## Executables
##############
*.app
*.exe
*.out

############################
## COMMON IGNORE PATTERNS ##
############################

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/
